/* Global Styles for the entire page */
body {
    font-family: sans-serif; /* Specify the default font */
    color: white; /* Set text color to white */
    background-image: url("../images/blue-snow.webp");
    background-size: 25%;


    font-family: 'Tilt Neon', sans-serif; /* Specify an alternate font */
}

/* Styles for a container element */
.container {
    width: 1000px; /* Set the container width to 1000 pixels */
    margin: 0 auto; /* Center the container horizontally */
}

/* Styles for the header section */
header {
    /* Container Styles */
    width: 980px; /* Set the header width to 980 pixels */
    padding: 10px; /* Add padding of 10 pixels */
    background-color: #2B2D42; /* Set the background color to a dark gray */

    /* Text Styles */
    text-align: center; /* Center-align the text */
}

/* Styles for h1 within the header */
header h1 {
    font-size: 50px; /* Set the font size for h1 to 50 pixels */
    margin-top: 10px; /* Add top margin of 10 pixels */
    margin-bottom: 0px; /* Remove bottom margin */
}

/* Styles for h2 within the header */
header h2 {
    font-size: 20px; /* Set the font size for h2 to 20 pixels */
}

/* Styles for anchor (a) tags */
a {
    text-decoration: none; /* Remove underlines from links */
    color: inherit; /* Inherit the parent text color */
}

/* Hover styles for anchor tags */
a:hover {
    color: #EF233C; /* Change the text color on hover to a red shade */
}

/* Styles for an element with the ID 'main-article-header' */
#main-article-header {
    text-align: center; /* Center-align the text */
}

/* Styles for images */
img {
    width: 400px; /* Set the maximum image width to 400 pixels */
    float: right; /* Float the image to the right */
    padding: 10px; /* Add padding around the image */
}

/* Styles for article elements */
article {
    background-color: #FFE7FF; /* Set the background color to a light pink */
    width: 980px; /* Set the article width to 980 pixels */
    padding: 10px; /* Add padding of 10 pixels */
    color: black; /* Set the text color to black */
}

/* Styles for section elements */
section {
    background-color: #2B2D42; /* Set the background color to a dark gray */
    width: 980px; /* Set the section width to 980 pixels */
    padding: 10px; /* Add padding of 10 pixels */
    color: white; /* Set the text color to white */
}

/* Styles for the footer section */
footer {
    width: 980px; /* Set the footer width to 980 pixels */
    padding: 10px; /* Add padding of 10 pixels */
    background-color: #8D99AE; /* Set the background color to a light gray */
    width: 980px; /* Note: You've set the width again, which is redundant */
    padding: 10px; /* Note: You've set the padding again, which is redundant */
}
