/* Mobile Styles BEGIN */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: black;
    overflow-x: hidden;
}

.side-bar { /* Does not display on smaller devices */
    display: none;
}

.heading {
    display: flex;
    justify-content: space-between;
}

img.insta-logo {
    height: 80px;
}

.logo {
    cursor: pointer;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    margin-right: 12px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.pfp {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.follower-stories {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    text-align: center;
}

.follower-stories .img-container {
    background: linear-gradient(
        45deg, 
        #f09433 0%, 
        #e6683c 25%, 
        #dc2743 50%, 
        #cc2366 75%, 
        #bc1888 100%
      );
    border-radius: 50%;
    padding: 3px;
}

.follower-stories .profile:first-child {
    margin-left: 10px;
}

.follower-stories .profile:last-child {
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}



.content-card {
    border-bottom: 1px solid grey;
}

.main-content:first-child {
    border-top: 1px solid grey;
}

.poster {
    display: flex;
    align-items: center;
    gap: 10px;
}


.poster .logo {
    height: 40px;
    border-radius: 50%;
}

.post-heading {
    display: flex;
    justify-content: space-between;
}

.post-heading {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}


/* Carousel Styles BEGIN Here */

.carousel-container {
    overflow: hidden;
}


.track {
    display: flex;
    transition: transform 0.5s ease;
    /* height: 500px; */
    
}


.track img {
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
}

.carousel_nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;    
}


.carousel_indicator {
    border-radius: 50%;                
    border: 0;                          
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.4); 
    cursor: pointer;
    transition: background 0.3s ease;   
}

.carousel_indicator:hover {
    background: rgba(255, 255, 255, 0.6); 
}


.carousel_indicator.current-slide {
    background: rgba(255, 255, 255, 0.9); 
}

.button-container {
    display: none;
}


/* Carousel Styles END here */



.social-info {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.social-info .left img, .social-info .right img {
    height: 25px;
}

.left{
    gap: 20px;
}

.social-info .right-special {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.comments {
    padding: 10px;
    margin-bottom: 10px;
}

.add-comments, .post-date {
    color: grey;
}

.add-comments {
    font-size: 15px;
}

.post-date {
    font-size: 12px;
}


/* Mobile Styles END */

/* Tablet Styles Begin*/
@media (min-width: 768px) {
    img.insta-logo {
        height: 150px;
    }
    .logo {
        height: 35px;
    }

    .carousel-container {
        width: 100%;
        max-width: 500px;   /* so the image doesn't take up the entire width of the screen */
        margin: 0  auto;    /* centers the container and thus centers the image */
    }
}

/* Tablet  END */

/* PC Styles BEGIN*/
@media (min-width: 1080px) {

    .side-bar {
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        background: red;
        display: none;
        /* display: block; */
    }

    
    ::-webkit-scrollbar-track {
        background: #2e2e2e; /* Dark gray for track */
        border-radius: 5px; /* Rounded track to make it sleek */
    }

    ::-webkit-scrollbar-thumb {
        background: #888; /* Medium gray for thumb */
        border-radius: 5px; /* Rounded thumb for a modern look */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555; /* Darker shade when hovered for a subtle interaction */
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .icon-container {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        margin-top: 50px;
    }

    .icon-container p {
        margin-left: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    .side-bar-icon {
        color: white;
        height: 30px;
    }


    .content-card, .follower-stories {
        max-width: 800px;
    }

    .follower-stories {
        margin-top: 1rem;
    }

    .follower-stories p {
        margin-bottom: 1rem;
    }

    .carousel-container {
        max-width: 600px;   /* Wider width on desktops */
        margin: 0 auto;     /* Center it horizontally */
    }

    .carousel-wrapper {
        display: flex;
        justify-content: center;
    }

    .button-container {
        display: flex;
        z-index: 10;
    }

    .button-container button {
        background: black;
        border: none;
        cursor: pointer;
    }

    
}
/* PC Styles END */