/* General Styling (Regardless of if JS is avaliable) */
main {
    height: 100%;
    border: 1px solid green;
    display: grid;
    justify-content: center;
}


/* CSS Gallery ONLY */
.css-gallery {
    width: 300px;
    display: grid;
    align-items: center;
    grid-auto-flow: column; /* Ensure items flow in a column direction */
    overflow-x: auto; /* Enable horizontal scrolling */
    overscroll-behavior: contain; /* Control scrolling behavior */
    border: 1px solid red;
}

.media-element {
    width: 300px; /* Fixed width for each media element */
}

.media-element img {
    width: 100%; /* Image takes up the full width of the media element */
    object-fit: cover; /* Cover the area without distortion */
    aspect-ratio: 9 / 16; /* Maintain the aspect ratio */
}
 /* CSS Gallery ONLY END */




 /*JS Gallery START */
.js-gallery {
    display: none; /* by default will have no display (only gets display if javascript loads) */
    position: relative;
    width: 250px;
    height: 500px;
}


.carousel_slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* crops the image to fit inside the div (note doesn't stretch the image) */
}

.carousel_track-container {
    background-color: lightgreen;
    height: 600px;
    width: 600px;
    position: relative;
    overflow: hidden;
}

.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in ;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.prev {
    left: -45px
}

.next {
    right: -45px;
}

.carousel_nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel_indicator {
    border-radius: 50%;
    border: 0;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, .3);
    margin: 0 15px;
    cursor: pointer;
}

.carousel_indicator:hover {
    background: rgba(0,0,0,.55)
}

.carousel_indicator.current-slide {
    background: rgba(0,0,0,.7);
}






 /* JS Gallery END */