* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}


body {
    background: black;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

header {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    background: #555555;
}

.logo {
    height: 100px;
    width: 164px;
}

.logo img {
    height: 100%;
    width: 100%;
}

#title-card {
    margin-left: .5em;
    padding: .5em;
    font-size: 24px;
    color: #CCBBAA;
}

nav {
    padding: 1em;
    background: #333333;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    flex: 1;
}

main div {
    background: black;
    color: white;
}

main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item2, .item3, .item9, .item10 {
    grid-column: span 2;
}

.item5 {
    grid-row: span 2;
}

.item6 {
    grid-row: span 2;
    grid-column: span 4;
    padding: .8rem;
}

.item7 {
    grid-row: span 2;
}

@media (min-width: 768px) {
    /* Styles for tablet screens and larger */
    main {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .item1{
        grid-column: 1/ 3;
     }
     .item2 {
        grid-column: 3 / 6;
     }
     .item3 {
        grid-column: 6 / 9;
     }
     .item4 {
        grid-column: 9 / 11;
     }
     .item5 {
        grid-column: 1 / 3;
     }
     .item6 {
        grid-column: 3 / 9;
     }
     .item7 {
        grid-column: 9 / 11;
     }
     .item8 {
        grid-column: 1 / 3;
     }
     .item9 {
        grid-column: 3 / 6;
     }
     .item10 {
        grid-column: 6 / 9;
     }
     .item11 {
        grid-column: 9 / 11;
     }
     main img, .item6  {
        height: 350px;
     }
}

  