@font-face {
    font-family: Instagram;
    src: url(fonts/Instagram\ Sans.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: Instagram, Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background: #000000;
}

header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
    /* border: 1px solid red; */
}

header > img {
    width: 20px;
    cursor: pointer;
}

header > h2 {
    text-align: center;
    width: 80%;
    font-weight: normal;
}

.user-banner {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    /* height: 100px; */
}

.user-info {
    margin: 10px;
    display: flex;
    gap: 20px;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pfp-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.pfp-container > img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more > button {
    all: unset; /* removes all styling on a button */
    text-align: center;
    cursor: pointer;
    height: 20px;
    background: #262626;
    padding: 10px;
    width: 70px;
    border-radius: 15px;
}

.menu-container {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    cursor: pointer;
}

.menu-container > img {
    width: 100%;
}

.gallery {
    display: grid;
    grid-auto-flow: column;
    gap: 50px; /* Distance between images */
    overflow-x: auto;
    overscroll-behavior: contain;
}

.img-container {
    width: 350px;
}

 .img-container:first-child {
    margin-left: 50px;
}

.img-container:last-child {
    margin-right: 50px;
} 

.img-container > img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 9 / 16;
}

.snap {
    scroll-snap-type: inline mandatory;
}

.snap > * { /* All children of snap */
    scroll-snap-align: start;
    scroll-margin-inline: 40px;
}

.social {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.icon {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.icon:first-child {
    margin-left: 5px;
}

.post-info {
    display: flex;
    gap: 10px;
    margin-left: 5px;
}

.date {
    margin-left: 5px;
    color: #A8A8A8;
}

nav ul {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

nav ul li {
    cursor: pointer;
}