* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: black;
    /* border: 1px solid red; */
    height: 93vh;
}


header {
    width: 100%;
    height:10%;
    /* border: 1px solid blue; */
    margin-bottom: 20px;
}


.heading {
    margin-top: 15px;
    height: 30%;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-name {
    font-weight: bold;
    font-style: italic;
}

.icon {
    cursor: pointer;
    /* border: 1px solid red; */
}

.title {
    /* border: 1px solid green; */
    text-align: center;
    width: 80%;
    font-size: 18px;
}


.user-info {
    margin-top: 10px;
    height: 70%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.left {
    margin-left: 10px;
}

.right {
    margin-right: 10px;
}


.pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.pfp img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.follow-button {
    all: unset; /* removes all styling on a button */
    text-align: center;
    cursor: pointer;
    height: 20px;
    background: #262626;
    padding: 10px;
    width: 80px;
    border-radius: 15px;
}


main {
    height: 80%;
}

.gallery {
    height: 80%;
    /* border: 1px solid yellow; */
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overscroll-behavior: contain;

    gap: 10px; /* Adds a gap between each image */
    overflow-y: hidden;
}

.media-element {
    width: 350px;
}

.media-element img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 9 / 16;
}


.snap {
    scroll-snap-type: inline mandatory;
}

.snap > * { /* All children of snap */
    scroll-snap-align: start;
    scroll-margin-inline: 40px;
}

.post-info {
    height: 10%;
    margin-left: 10px;
}

.social {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.icon {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

.icon p {
    display: flex;
    justify-content: center;
    align-items: center;
}


.post-text {
    margin-top: 5px;
}

.user-text {
    display: flex;
    gap: 15px;
}


.date {
    color: #A8A8A8;
    font-size: 13px;
}



nav {
    height: 10%;
    /* border: 1px solid slateblue; */
}


nav ul {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

nav ul li {
    cursor: pointer;
}