*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.carousel {
    /* Changing the dimension and position will make carousel still work */
    width: 1000px; 
    height: 1000px;
    position: relative;
}

.carousel > ul { /* Selects any direct ul children of carousel */
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slide {
    position: absolute;
    inset: 0; /*Short cut for top,right,left, bottom: 0 */
    opacity: 0;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
}

.carouselButton {
    background: none;
    border: none;
    font-size: 3rem;
    top: 50%;
    z-index: 2; /* Ensure button are above images and not behind */
    position: absolute;
    cursor: pointer; 
    transform: translate((-50%)); /* Centers the buttons vertically */
    color: rgba(255,255,255,.5);
    padding: 0 .5rem;
    background-color: rgba(0,0,0,.1);
}


.carouselButton:hover {
    color: white;
    background-color: rgba(0,0,0,.2);
}

.carouselButton.prev {
    left: 1rem;
}

.carouselButton.next {
    right: 1rem;
}


/* Animations */

.slide {
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    /*Fades in photo first then removes slide to be removed from view */
}

.slide[data-active] {
    transition-delay:  0ms; 
    z-index: 1;
}