/* index.html (about page) specificy styling */

/* Styling Variables BEGIN */
 :root {
    --intro-div-margin-top: 5rem;
    --icon-size: 45px;
}

/* Styling Variables END*/


/* Mobile styles BEGIN */

main {
    justify-content: flex-start;
}

.intro {
    margin-top: var(--intro-div-margin-top);
}

.intro h1 {
    font-size: var(--header-text-size);
    text-align: center;
    margin-bottom: 20px;
    background: #8F27FF;
    background: linear-gradient(to left, #8F27FF 0%, #2BA0FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro p {
    padding: 5px;
}

.icons {
    margin-top: 10px;
    padding: 10px;
}

.bx {
    font-size: var(--icon-size);
    color: rgb(104, 102, 102);
    margin-right: 20px;
    cursor: pointer;
}   



/* Mobile styles END */


/* Tablet styles BEGIN */

@media only screen and (min-width: 768px) {
    :root {
        --intro-div-width: 800px;
        --intro-div-margin-top: 10rem;  
        /* --icon-size: 45px; */
    }

    .intro {
        max-width: var(--intro-div-width);
        margin-left: auto;
        margin-right: auto;
    }

    .intro h1 {
        text-align: left;
    }
}

/* Tablet styles END */