.current-page {
    color: rgb(132, 60, 226)
}


.projects {
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 800px));

    justify-content: center;
    align-items: center;
    gap: 20px;
}

.projects a {
    margin-right: 30px;
}

.projects a:hover {
    color: #858080;
    transition: 0.3s;
}

.card {

    padding: 10px;
    height: 100%;
}

.card h1, p {
    margin-bottom: 10px;
}

span {
    color: #858080;
}

.left {margin-left: 20px;}

.right {margin-right: 20px;}