.media-scroller {
    margin-top: 10px;
    display: grid;
    grid-auto-flow: column;
    /* grid-auto-columns: 23%; */
    gap: 15px;
    overflow-x: auto;
    overscroll-behavior: contain;
}

.media-element {
    width: 250px;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: linear-gradient(135deg, #5e5d5d 0%, #595959 100%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    display: grid;
    grid-template-rows: min-content;
    gap: 10px; /* Space between image and text */
}

.media-element:first-child {
    margin-left: 10px;
}

.media-element:last-child {
    margin-right: 10px;
}

.media-element > img {
    width: 100%;
    aspect-ratio: 9 /16;
    object-fit: cover;
}

.snap {
    scroll-snap-type: inline mandatory;
}

.snap > * { /* all direct children of .snap */
    scroll-snap-align: start;
    scroll-margin-inline: 10px;
}

@media only screen and (min-width: 1024px) {
    .media-element {
        width: 600px;
    }
    .media-element > img {
        aspect-ratio: 16 / 9;
    }
  } 